<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="vn.thanhvt.App" />
    <module name="db-data-to-dto-generator" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="vn.thanhvt.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>